# Do not change these values. Do not commit changes to this file
# Copy them to a file called .env.local
# and you should be good to go

# Generic / backend
SPACETIMEDB_DB_NAME=theaiguide
SPACETIMEDB_HOST=https://maincloud.spacetimedb.com

# Next.js
NEXT_PUBLIC_SPACETIMEDB_DB_NAME=theaiguide-ol2uu
NEXT_PUBLIC_SPACETIMEDB_HOST=https://maincloud.spacetimedb.com
# NEXT_PUBLIC_SPACETIMEDB_HOST=http://localhost:3000

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= # ASK IF MISSING
CLERK_SECRET_KEY= # ASK IF MISSING

# Chatbots
OPENROUTER_API_KEY=
# OPENROUTER_MODEL= #(optional)
# OPENROUTER_MAX_INPUT_TOKENS= #(optional)
# OPENROUTER_MAX_OUTPUT_TOKENS= #(optional)
# NEXT_PUBLIC_APP_URL= #(optional, used for OpenRouter headers)