# Dependencies
**/node_modules

# Next.js build output
.next/
.open-next/

# Environment variables
.env*.local

# Local SpacetimeDB config
spacetime.local.json

# Editor
.cursor/
.windsurfrules
# clerk configuration (can include secrets)
/.clerk/
